
.login_background {
    background: linear-gradient(0deg, #f9ae40,#b9bec0,#869dad);
  }
  
  .scroll-stable {
    scrollbar-gutter: stable;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader svg {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes blink {
    0%, 75% { opacity: 1; }
    75%, 100% { opacity: 0; }
  }
  
  .loading-text .dot {
    animation: blink 3500ms infinite;
    display: inline-block;
    margin: 1px;
  }
  .loading-text .dot:nth-child(2) {
    animation-delay: 500ms; /* Adjust delay for second dot */
  }
  
  .loading-text .dot:nth-child(3) {
    animation-delay: 1000ms; /* Adjust delay for third dot */
  }
  
  .overlay_loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .overlay_loader {
    width: 70px;
    height: 70px;
    position: relative;
  }
  
  .overlay_loader:before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #fb923c;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse 1s ease-in-out infinite;
  }
  
  .overlay_loader:after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #fb923c;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
  }
  
  .overlay_loader-text {
    font-size: 24px;
    margin-top: 20px;
    color: #fb923c;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.6);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      transform: scale(0.6);
      opacity: 1;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }